.introText {
    height: 100px;
    margin-left: 30px;
}

img {
    border-radius: 150px;
    float: right;
    margin-right: auto;
    margin-left: auto;

}

.pp {
    margin: auto;
}

.ppText {
    text-align: center;
}

.beethoven {
    float: right;
    margin-right: 150px;
}

.Introduction {
    justify-content: center;
    height: 500px;
    width: 97%;
    padding: 10px;
    background-color: #71a6eb;
    border-radius: 15px;
    line-height: 30px;
    font-size: 20px;
    display: grid;
    grid-template-columns: 5fr 3fr;
    column-gap: 20px;
}

.tableGames {
    margin: 300;
    display: flex;
    flex-shrink: 30;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    left: 10px;
    right: 10px;
}

.spotify {
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: rgb(13, 201, 6);
    border-radius: 25px;
    border: solid 2px;
    float: right;
    color: black;
    margin-right: 200px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.spotify:hover {
    background-color: rgb(69, 227, 6);
    border: 2px solid;
}

.spotify:active {
    opacity: 0.5
}

.footers {
    padding-inline: 10px;
    height: 20px;
    width: 200px;
    background-color: lightblue;
    border-radius: 10px;
    margin-bottom: 30px;
    transition: 0.3s;
}

.linkingText {
    transition: 0.3s;
}

.linkingText:hover {
    font-size: 25px;
}

.footers:hover {
    font-size: 20px;
    padding-inline: 5px;
    height: 25px;
    width: 250px;
    background-color: deepskyblue;
    border-radius: 10px;
}

input[type=submit] {
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 5px;
    transition: 0.2s;
}

input[type=submit]:hover {
    background-color: darkgray;
}

input[type=submit]:active {
    background-color: gray;
}